* {
  box-sizing: border-box;
}

htm,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgb(229, 229, 218);
  border-bottom: 1px solid rgb(189, 199, 187);
}

header h1 {
  font-size: 6vw;
  margin: 0;
  font-family: 'Trirong', serif;
  color: rgb(28, 86, 148);
}

header nav {
  display: inline-block;
  float: right;
}

header nav a {
  text-decoration: none;
}

header.shrink {
  height: 50px;
}

header.shrink h1 {
  font-size: 4vw;
}

main {
  background-color: rgb(255, 255, 245);
  padding-top: 100px;
}

.full-page {

  height: 100vh;
  padding: 2rem 5rem;
  color: rgb(70, 70, 70);
}

.full-page h1 {
  font-size: 10vw;
  text-align: center;
  margin-top: 0;
}

.content {
  text-align: center;
  margin-top: 15px;
  font-size: 2.5rem;
  height: 800px;
}
