* {
  box-sizing: border-box;
}

htm,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  background-image: url(../footer_lodyas.png)
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 999;
  background-color: transparent;
}

header i {
  color: rgb(77, 163, 123);
  margin-top: 10px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 75px;
  width: 100%;
  background-color: rgb(77, 163, 123);
  display: none;
}

header nav i{
  color: rgb(70, 70, 70);
}

header nav a {
  text-decoration: none;
  margin: 10px;
  color: rgb(70 , 70, 70);
}

header.open {
  background-color: rgb(77, 163, 123);
}

header.open i {
  color: rgb(70 , 70, 70);
}

header.open nav {
  display: block;
}


header.shrink {
  height: 50px;
}

header.shrink h1 {
  font-size: 2em;
  height: 25px;
}

main {
  /*padding-top: 100px;*/
  background-image: url(../footer_lodyas.png)
}

.full-page {
  height: 100vh;
  width: 100%;
  color: rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.full-page h1 {
  font-size: 10vw;
  color: rgb(77, 163, 123);
  margin: 0;
}

.full-page h3 {
  font-size: 5vw;
  margin-top: 0;
}

.content {
  text-align: center;
  margin-top: 15px;
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  /*header {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    height: 65px;
  }
  header h1 {
    font-size: 2.4em;
    height: 100%;
    margin-left: 10px;
  }

  header nav {
    height: 100%;
    margin-top: 20px;
  }

  header.shrink {
    height: 45px;
  }

  header.shrink h1 {}
    font-size: 1.5em;
    height: 100%;
  }*/
}
