* {
  box-sizing: border-box;
}

htm,
body {
  padding: 0;
  margin: 0;
  min-width: 300px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  background-image: url(../footer_lodyas.png);
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 999;
  background-color: transparent;
}

header i {
  color: rgb(77, 163, 123);
  margin-top: 10px;
  cursor: pointer;
}

header nav {
  display: none;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(77, 163, 123);
  padding-bottom: 10px;
}

header nav i{
  color: rgb(70, 70, 70);
}

header i.fa-close {
  display: none;
}

header nav a {
  margin: 0 20px;
  color: rgb(70 , 70, 70);
  align-self: baseline;
}

header.open {
  height: 100px;
  background-color: rgb(77, 163, 123);
}

header.open i {
  color: rgb(70 , 70, 70);
}

header.open i.fa-close {
  display: block;
}

header.open i.fa-bars {
  display: none;
}


header.open nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header.shrink {
  height: 50px;
}

header.shrink h1 {
  font-size: 2em;
  height: 25px;
}


.full-page {
  height: 100vh;
  width: 100%;
  color: rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.full-page:not(:first-of-type) {
  padding-top: 110px;
}

.full-page h1 {
  font-size: 10vw;
  margin: 0;
  color: rgb(77, 163, 123);
}

.full-page h1 a {
  color: rgb(77, 163, 123);
  /*font-family: 'Trirong', serif;*/
}

.full-page h3 {
  font-size: 5vw;
  margin-top: 0;
}

.content {
  font-size: 1.3em;
  line-height: 1.8;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content a {
  color: rgb(70, 70, 70);
  margin-top: auto;
  padding-bottom: 5px;
}

.fade {
  opacity: .25;
}

@media only screen and (max-width: 768px) {
  /*header {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    height: 65px;
  }
  header h1 {
    font-size: 2.4em;
    height: 100%;
    margin-left: 10px;
  }

  header nav {
    height: 100%;
    margin-top: 20px;
  }

  header.shrink {
    height: 45px;
  }

  header.shrink h1 {}
    font-size: 1.5em;
    height: 100%;
  }*/
}
